@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: rgb(255, 255, 255);
    --prim-dark: #141414;
    --prim-dark-orange: #ee550e;
    --secondary-dark-blk:#111215;
}

body {
    font-family: "Roboto Condesed" sans-serif !important;
}


/***********************NAVBAR****************************/
nav{
  
   z-index:2;
   position: fixed !important;
   background: none;
   width:100% !important;

}

.logo {
    width: 5rem;
    height: 4.7rem;
    margin-top: 0.1rem;
}

.nav-bg {
    background-color: var(--prim-dark) !important;
}


/***********************MENU LINKS**********************************/

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--prim-dark);
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-size: .8rem;

}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 5rem !important;
}


.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--prim-dark-orange);
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--prim-dark-orange);
}


/***********************HEADER****************************/

.header-wrapper {
    position: relative;
    /* background: url(assets/img/header/headerbanner.jpg) no-repeat; */
    background: url(assets/img/profile/aboutbgf.jpg) no-repeat; 
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.main-info {
    display: flex;
    position:absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
   
}

.main-info h1 {
    color:var(--prim-dark-orange);
    text-transform: uppercase;
    font-family: "Roboto Condesed" sans-serif;

}

/***********************TYPED TEXT****************************/
.typed-text{
    font-size:2rem;
    color:var(--primary-white);
}

@media(max-width:768px){
    .main-info h1 {
        font-size:1.4rem !important;
    }
    .typed-text{
        font-size:1.1rem !important;
    }
}
/***********************CONTACT****************************/
.btn-main-offer{
    border:1px solid var(--prim-dark-orange);
    text-transform: uppercase;
    border-radius: 0;
    padding:0.625rem 0.75rem 0.75rem 0.75rem;
    color:var(--primary-white);
    margin:2rem;
    cursor: pointer;
}
.btn-main-offer:hover {
    background-color:var(--prim-dark-orange);
    text-decoration: none;
    color:var(--primary-white);
    transition: .1 ease-in-out;
}
.fullstack{
    color:var(--primary-white);
}

/***********************PARTICLES JS****************************/
.tsparticles-canvas-el{
position:absolute;
height:100%;
width:100%;
top:0;
left:0;
z-index: 1;
}

/***********************ABOUT****************************/

#About{
    position: relative;
    background: url(assets/img/profile/aboutbg5.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.img-thumbnail{
    background-color: none !important;
    border-color: none !important;
    padding:0.3rem !important;
}
.pb-3{
    color:var(--prim-dark-orange);
}
.my-details{
    color:var(--primary-white);
    text-align: justify;
}
.profile {
    width:16rem;
    height:16rem; 
    border-radius: 16rem; 
  }

 
.btn-outline-dark, .btn-outline-primary, .btn-outline-info, .btn-outline-success{
    border-color:var(--prim-dark-orange) !important;
    color:var(--prim-dark-orange) !important;
}
.btn-outline-dark:hover, .btn-outline-primary:hover, 
.btn-outline-info:hover, .btn-outline-success:hover{
  border-color:var(--prim-dark-orange) !important;
  color:var(--primary-white) !important;
  background-color: var(--prim-dark-orange) !important;
}
 
 /***********************PROJECTS****************************/


.vertical-timeline-element-date{
    color:var(--prim-dark) !important;
}
.vertical-timeline-element-subtitle
{
    color:var(--prim-dark-orange) !important;
}
.vertical-timeline::before{
    background-color:#c6c6c6 !important;
    width:1px  !important;
}

/***********************FOOTER****************************/
.main-footer{
    background-color: var(--prim-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5rem;
    /* height:50vh; */
    /* margin: 0 auto; */
    /* width:100%; */
}
.f-title{
   margin-bottom:2rem;
}
.f-title,
.s-items {
    color:var(--primary-white);
}
.footer-bottom{
    padding-top:3rem
}
.col-form-label{
    color:var(--primary-white);
}
.text-xs-center{
color:var(--primary-white);
}
.submitbtn{
    background: none !important;
    border: 1px solid var(--prim-dark-orange) !important;
}
.submitbtn:hover{
    background: var(--prim-dark-orange) !important;
}

 /***********************SMALL DEVICE SUPPORT****************************/
  @media(max-width:768px){
    .vertical-timeline-element-date{
        font-size:0.8rem !important;
    }
    .vertical-timeline-element-title
    {
    
        font-size:1.2rem !important;
    }
    .vertical-timeline-element-subtitle
    {
    
        font-size:1rem !important;
    }
    .description{
        font-size:0.9rem !important;
    }
    .viewdemo{
        display:none;
    }
    .logo{
        width:3rem;
        height:3rem; 
        margin-top: 0.7rem;
    }

    .particles-canvas{
        display:none;
    }
    .pb-3{
        font-size:1.1rem !important;
    }
    .my-details {
        font-size:0.8rem !important;
        padding:1rem;
        font-family: "Roboto Condesed" sans-serif;
    
    }
    .profile {
        width:10rem;
        height:10rem; 
        border-radius: 10rem; 
      }
      .coverflow__text__39hqd{
            font-size:0.2rem !important;
      }
 
}
